<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>SignIn</title>

    <%- include("./SignupCSS");%>
</head>
<body>
    <div class="container">
	<form class="login1" action="/Signup" method="POST" >
		<h1>SIGN UP</h1>
		<div class="login2">
		  <label for="text1" class="form-label">Email</label>
          <input type="email" name="txtemail" class="form-control" id="text1" aria-describedby="emailHelp">
		</div>
        <div class="login2">
            <label for="text2" class="form-label">First and last name </label>
            <input type="text" name="txtname" class="form-control" id="text2" >
        </div>
        <div class="login2">
            <label for="text3" class="form-label">Phone number</label>
            <input type="number" name="txtphone" maxlength="10" class="form-control" id="text3" >
        </div>
		<div class="login2">
            <label for="text4" class="form-label">Password</label>
            <input type=password" name="txtpass" class="form-control" id="text4" >
        </div>
        <div class="login2">
            <label for="text5" class="form-label">Confrim password</label>
            <input type="password" class="form-control" id="text5" >
        </div>
		<button type="submit" class="btn_login" >SIGN UP</button>
        
	  </form>
      <script>
          const fromlogin= document.querySelectorAll('.login2 input')
          const fromlabel=document.querySelectorAll('.login2 label')
		  for(let i=0;i<5;i++){
			  fromlogin[i].addEventListener("mouseover",function(){
				  fromlabel[i].classList.add("focus")
			  })
			  fromlogin[i].addEventListener("mouseout",function(){
				  if(fromlogin[i].value == ""){
				  fromlabel[i].classList.remove("focus")
				  }
			  })
		  }
      </script>
	  
    </div>
</body>
</html>